<% provide(:title, 'Home') %>
<div class="row">
    <div class="root_back col-md-6 col-md-offset-3">
      <div class="content_left">
        <%= image_tag 'download.png', class: "img-circle" %>
      </div>
      <div class="content_left">
        <h1>Share Document</h1>
      </div>
      <div class="clear_fix"></div>
      <div class="content-center">
        <ul>
          <li><span>1</span>Login</li>
          <li><span>2</span>Share your document</li>
        </ul>
      </div>
      <div class="share">
        <%= image_tag 'btnimag.png' %>
      </div>
    </div>
</div>
